.fix_menu{
    opacity: 0.0;
    z-index:0;
    transition: bottom .2s linear 0s, opacity .2s linear, right 0.1s linear 2s;

}

.fix_menu.active{
    transition: bottom .4s cubic-bezier(.07,.69,.32,1.16), opacity .4s linear;

    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-color : #000000;
    opacity: 0.6;
    z-index:300;

    display: block;
    z-index:300;
}

.fix_menu_list{
    display: block;
    transition: bottom .2s linear 0s, opacity .2s linear, right 0.1s linear 2s;
    opacity: 0.0;
    z-index:0;
}

.fix_menu_list.active{
    opacity: 1.0;
    transition: bottom .4s cubic-bezier(.07,.69,.32,1.16), opacity .4s linear;
    font-size:25px;
    position: fixed;
    z-index:400;
}

#fix_menu_gallery{
    bottom: 135px;
    right: 26px;
    color: #ffffff;
}

#fix_menu_guest{
    bottom: 80px;
    right: 26px;
    color: #ffffff;
}

#fix_menu_home{
    color: #ffffff;
    right:0;
    right: 26px;
    bottom: 185px;
}

.fix_menu_container{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 75px;
    z-index: 400;
    position: fixed;
    bottom: 37px;
    right: 30px;
    transition: transform .5s, -webkit-transform .5s;
    line-height: 70px;
    box-shadow: 0px 20px 4px 2px rgba(80, 50, 50, 0.2);
    animation: menuHighlight 1s 0.5s 5 normal forwards;
    -webkit-animation: menuHighlight 1s 0.5s 5 normal forwards;
}

#fix_menu_icon{
    width: 100%;
    height: 100%;
}