.main-slider{
    min-height: 25rem;
    height: 70vh;
    margin-bottom:60px;
}
.slide_content{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-size:cover;
    background-position: top center;
    width:100%;
    height:auto;
}

#slide1{
    background-image:url("http://cdn.lyft.net/brochure/images/whyilyft-1-windshield.6cce81db.jpg");
}
#slide2{
    background-image: url('//cdn.lyft.net/brochure/images/whyilyft-2-coffee.eb5ae8e3.jpg');
}